@model System.Collections.Generic.IEnumerable<CourseProject.Models.UserTask>

@{
    ViewBag.Title = "Home Page";
    Dictionary<string, string> Colors = new Dictionary<string,string>
    {
        {"HARD", "#ff6a00"},
        {"MEDIUM", "#fcd332"},
        {"EASY", "#87ff00"}
    };
}

<style>
    .block {
        height: auto;
        width: 45%;
        min-width:400px;
        background-color: lightgray;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 70px 70px 35px rgba(4, 4, 4, 0.3);
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    .block-header {
        height: auto;
        width: auto;
        top: 0px;
        left: 0px;
    }

    .block-header-text {
        font-size: 25px;
        font-family: 'Segoe UI';
        font-weight: lighter;
        color: white;
        padding: 10px;
        margin-bottom: 2px;


        @*background-color: #7be068;
        background-color: #7984ff;
        *@ background-color: #fcd332;
    }

    .block-table-text {
        font-size: 30px;
        font-family: 'Segoe UI';
        font-weight: lighter;
        margin: 0px;
        padding: 5px;
    }

    .glyphicon.glyphicon-one-fine-dot:before {
        content: "\25cf";
        font-size: 35px;
        margin-bottom: 0px;
        padding: 0px;
    }
</style>

<div>
    <div style="width:15%; height:100%; display:inline-block; border-right:2px solid gray; vertical-align:top; margin:0px">
        <div class="block" style="width:100%; margin:0px; margin-top:10px; min-width:initial">
            <div id="LatestTHeader" class="block-header" style="text-align:left">
                <p class="block-header-text" style="font-size:large; vertical-align:middle">VIEW ALL TASKS</p>
            </div>
        </div>
        <div id="TagCloud" class="block" style="width:100%;margin:0px; margin-top:10px; height:auto; background-color:white; ; min-width:initial">
            <div id="TagCloudHeader" class="block-header">
                <p class="block-header-text" style="font-size:large; vertical-align:middle">TAG CLOUD</p>
            </div>
        </div>
    </div>

    <div id="main" class="row" style="text-align:center; width:80%; display:inline-block; border-left:2px solid gray; margin:0px">
        <div id="LatestT" class="block">
            <div id="LatestTHeader" class="block-header" style="text-align:left">
                <p class="block-header-text">LATEST tasks</p>
            </div>
            <div style="position:relative; top:0px; left:0px; width:auto">
                <table style="width:100%">
                    @foreach(CourseProject.Models.UserTask i in Model)
                    {
                    <tr style="background-color:white; border:3px solid lightgray; color:@Colors[i.TaskDifficulty]">
                        <td class="block-table-text" style="padding:0px; width:60%; padding:4px" align="left">
                           @i.TaskName
                        </td>
                        <td class="block-table-text" style="width:30%; padding:4px" align="right">
                           @i.TaskCategory
                        </td>
                        <td style="padding-bottom:6px;width:10%;">
                            <span class="col-md-1 glyphicon glyphicon-align-center glyphicon-one-fine-dot" aria-hidden="true" style="margin-bottom:8px"></span>
                        </td>
                    </tr>
                    }
                </table>
                <div style="text-align:right">
                    <button class="btn block-table-text" style="background-color:#fcd332; color:white; font-size:25px" align="right">VIEW ALL</button>
                </div>
            </div>

        </div>
        <div id="RatedT" class=" block">
            <div id="RatedTHeader" class="block-header" style="text-align:left">
                <p class="block-header-text">RATED tasks</p>
            </div>
            <div style="position:relative; top:0px; left:0px; width:auto">
                <table style="width:100%">
                    <tr style="background-color:white; border:3px solid lightgray">
                        <td class="block-table-text" style="padding:0px; width:40%; color:#87ff00; padding:4px" align="left">
                            TASK 1
                        </td>
                        <td class="block-table-text" style="padding:0px; width:20%; color:#87ff00; padding:4px" align="center">
                            55%
                        </td>
                        <td class="block-table-text" style="color:#87ff00; width:30%; padding:4px" align="right">
                            C#
                        </td>
                        <td style="padding-bottom:6px;width:10%; color:#87ff00">
                            <span class="col-md-1 glyphicon glyphicon-align-center glyphicon-one-fine-dot" aria-hidden="true" style="margin-bottom:8px"></span>
                        </td>
                    </tr>
                </table>
                <div style="text-align:right">
                    <button class="btn block-table-text" style="background-color:#fcd332; color:white; font-size:25px" align="right">VIEW ALL</button>
                </div>
            </div>
        </div>
       
        <div id="UnsolvedT" class="block">
            <div id="RatedUHeader" class="block-header">
                <p class="block-header-text">UNSOLVED tasks</p>
            </div>
            <div style="position:relative; top:0px; left:0px; width:auto">
                <table style="width:100%">
                    <tr style="background-color:white; border:3px solid lightgray">
                        <td class="block-table-text" style="padding:0px; width:60%; color:#ff6a00; padding:4px" align="left">
                            TASK 11
                        </td>
                        <td class="block-table-text" style="color:#ff6a00; width:30%; padding:4px" align="right">
                            C#
                        </td>
                        <td style="padding-bottom:6px;width:10%; color:#ff6a00">
                            <span class="col-md-1 glyphicon glyphicon-align-center glyphicon-one-fine-dot" aria-hidden="true" style="margin-bottom:8px"></span>
                        </td>
                    </tr>
                </table>
                <div style="text-align:right">
                    <button class="btn block-table-text" style="background-color:#fcd332; color:white; font-size:25px" align="right">VIEW ALL</button>
                </div>
            </div>
        </div>

        <div id="RatedU" class="block">
            <div id="RatedUHeader" class="block-header" style="text-align:left">
                <p class="block-header-text">RATED users</p>
            </div>
            <div style="position:relative; top:0px; left:0px; width:auto">
                <table style="width:100%">
                    <tr style="background-color:white; border:3px solid lightgray">
                        <td class="block-table-text" style="padding:0px; width:70%; color:gray; padding:4px" align="left">
                            USER 1
                        </td>
                        <td class="block-table-text" style="color:gray; width:30%; padding:4px" align="right">
                            99%
                        </td>
                    </tr>
                </table>
                <div style="text-align:right">
                    <button class="btn block-table-text" style="background-color:#fcd332; color:white; font-size:25px" align="right">VIEW ALL</button>
                </div>
            </div>
        </div>
    </div>

</div>