@{
    ViewBag.Title = "Home Page";
}
<style>
#dropZone {
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #eee;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}
</style>

        <textarea class="form-control" rows="15" id="comment" style="max-width:1000px"></textarea>
    <button type="button" id="press" class="btn btn-default">KEK</button>

<div id="output">
</div>

<form>
    <div id="dropZone">
        Для загрузки, перетащите файл сюда.
    </div>
</form>  

<script src="~/Scripts/showdown.js"></script>
<script type="text/javascript">
    document.getElementById("press").onclick = function () {
        var str = $("#comment").val();
        var converter = new showdown.Converter();
        var html = converter.makeHtml(str);
        console.log(html);

        var out = $("#output");
        out[0].innerHTML = html;
        //----------------------------
        var dropZone;
        $(document).ready(function () {
            dropZone = $('#dropZone'),
                maxFileSize = 1000000; // максимальный размер файла - 1 мб.
        });



        if (typeof (window.FileReader) == 'undefined') {
            dropZone.text('Не поддерживается браузером!');
            dropZone.addClass('error');
        }

        dropZone[0].ondragover = function () {
            dropZone.addClass('hover');
            return false;
        };

        dropZone[0].ondragleave = function () {
            dropZone.removeClass('hover');
            return false;
        };

        dropZone[0].ondrop = function (event) {
            event.preventDefault();
            dropZone.removeClass('hover');
            dropZone.addClass('drop');
            var file = event.dataTransfer.files[0];
            console.log(file.name);
        };


      
    }
</script>