@using Mvc.Mailer

Hello @ViewBag.Name:<br />
Welcome to MvcMailer and enjoy your time!<br/>
Please <a href="@Url.Abs(Url.Action("Index", "Home"))">Visit Us</a> to find more. ==going from Welcome.cshtml